<div class="container-fluid footer" style="margin-top: 70px;">
	<div class=" row footer-cha" >
		<div class="col-3 footer-trai">
			<img width="207" src="/W.WR.png" alt class="logo">
			<p class="text">NHÀ HÀNG TIỆC CƯỚI</p>
			<p class="diachi">254 Phan Thanh, P.Thạch Gían, Thanh Khê, Đà Nẵng</p>
		</div>	
		<div class="col-9 footer-phai">
			<div class="m1">
				<img class="img-icon"src="http://tieccuoicatkhanh.vn/wp-content/uploads/2017/icon/icon-f-fone.png">
				<p class="sub-m" style="margin: 0px;"></p>
				<p class="sub-m">ĐIỆN THOẠI</p>
				<p>0799 343 172</p>
			</div>
			<div class="m2">
				<img class="img-icon"src="http://tieccuoicatkhanh.vn/wp-content/uploads/2017/icon/icon-f-hotline.png">
				<p class="sub-m" style="margin: 0px;"></p>
				<p class="sub-m">HOTLINE</p>
				<p>0905234823</p>
			</div>
			<div class="m3">
				<img class="img-icon"src="http://tieccuoicatkhanh.vn/wp-content/uploads/2017/icon/icon-f-email.png">
				<p class="sub-m" style="margin: 0px;"></p>
				<p class="sub-m">GMAIL</p>
				<p>weddingrestaurant@gmail.com</p>
			</div>
			<p>website: weddingrestaurant.vn - © Copyright 2012 - 2020 Duy Tan</p>
		</div>
	</div>
</div>