<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Change pass</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="login">
            <img src = "/person-icon.png" class="avatar">
            <h1 style="color: rgb(30, 10, 56);">Change pass for Restaurant</h1>
            <div style="color: red; font-style: italic;  font-size: 14px;   font-weight: 400;margin-bottom: 10px;">
                <% notification.forEach((i)=>{%>
                 <li><%-i%></li>
                 <%})%>
             </div>
            <form action="/changepassword" method="POST">
                <input type="text" name="id" value="<%-id%>" style="display: none;">
                <input name="password"   type="password" placeholder="New password">
                <input name="repassword" type="password" placeholder="Nhập lại password">
                <div class="submit">
                  <input type="submit" value="Login">
                  </div>
                </form>    
        <div class="link">
         <a href="/restaurant"><img src="/W.WR.png" style="width: 50px; height: 50px;"></a>
         <a href="http://localhost:3216/auth/facebook"   ><img src="fb-icon.png"></a>
         <a href="/auth/gmail"><img src="gmail-icon.png"></a>      
            </div>
        </div>
        <div id="overlay-area"></div>
    </body>
</html>