<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign in</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="login">
            <img src = "person-icon.png" class="avatar">
            <h1 style="color: rgb(30, 10, 56);">Sign in</h1>
            <div style="color: red; font-style: italic;  font-size: 14px;   font-weight: 400;margin-bottom: 10px;">
               <% error.forEach((i)=>{%>
                <li><%-i%></li>
                <%})%>
            </div>
            <form action="/login" method="POST">
                <input name="username"   type="text" placeholder="Email" value="<%-username%>">
                <input name="password" type="password" placeholder="Password">
                <div class="submit">
                  <input type="submit" value="Login">
                  </div>
                </form>
        
        <div class="container__body" style="display:flex;align-items: center;justify-content: space-between;margin: 0 16px;">
            <div class="text" >
                <a href="/forgotpass">Forgot Password ?</a>
            </div>
            <div class="submit">
                <a href="/register" >Sign up</a>
            </div>
        </div>
        <div class="link">
         <a href="/restaurant"><img src="/W.WR.png" style="width: 50px; height: 50px;"></a>
         <a href="/auth/facebook"   ><img src="fb-icon.png"></a>
         <a href="/auth/gmail"><img src="gmail-icon.png"></a>      
            </div>
        </div>
        <div id="overlay-area"></div>
    </body>
</html>